* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background: #f7fbfd;
    line-height: 1.6;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 25px;
}


header {
    background: #006d8f;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

header h1 {
    font-size: 34px;
    margin-bottom: 10px;
}

header h2 {
    font-size: 24px;
    font-weight: normal;
}

.brand {
    font-size: 28px;
    font-weight: bold;
    margin: 20px;
}


.button {
    display: inline-block;
    background: white;
    color: #006d8f;
    padding: 12px 25px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}


section h2 {
    color: #006d8f;
    text-align: center;
    margin-bottom: 20px;
}


.about p {
    text-align: center;
    font-size: 18px;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap: 20px;
}


.cards div {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


.cards h3 {
    color: #006d8f;
}


ul {
    background: white;
    padding: 25px 45px;
    border-radius: 10px;
}


.contact {
    text-align: center;
}


footer {
    background: #003b4d;
    color: white;
    text-align: center;
    padding: 20px;
}


@media(max-width:600px){

header h1 {
    font-size: 25px;
}

header h2 {
    font-size: 20px;
}

.container {
    padding: 15px;
}

}
