body{
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
    background:#f5f8fc;
    color:#333;
}

header{
    background:#0b5fa5;
    color:white;
    text-align:center;
    padding:30px 20px;
}

.logo{
    width:90px;
    border-radius:50%;
}

.doctor{
    width:220px;
    border-radius:12px;
    display:block;
    margin:20px auto;
}

nav{
    margin-top:20px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 12px;
    font-weight:bold;
}

section{
    max-width:900px;
    margin:auto;
    padding:40px 20px;
}

h2{
    color:#0b5fa5;
}

ul li{
    margin-bottom:10px;
}

footer{
    background:#0b5fa5;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}
